 html *{
    background-color: #ffa400;
 }

 .container {
    box-sizing: border-box;
    border: solid;
    height: 700px;
    width:  minmax(50px,500px);
    margin: auto;
    display:    grid;
    grid-template-columns:  repeat(auto-fit,300px);
    grid-template-rows:     repeat(auto-fit,200px);
    background-color:   inherit;
    justify-content:    center;
    gap: 10px;
    border-radius: 10px;
    
}

.item{
    margin-top: 10px;
    border-radius: 10px;
}

.item1{
    background-color: yellow; 
}

.item2{
    background-color: black;
    
    
}
.item3{
    background-color: blue;
}
