/*index.css */
*{
    font-family: 'Times New Roman', Times, serif;
}
#name_container{
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 35px;
    font-size: 60px;
}
body {
    padding: 0;
    margin: 0;
    background-color: white;
  }

.main_hub{
    box-sizing: border-box;
    display: grid;
    width: 250px;
    margin: auto;
    height: 350px;
    grid-template-columns:  repeat(auto-fit);
    grid-template-rows:     repeat(auto-fit);
    grid-auto-flow: row;
    justify-content:    center;
    align-content: center;
    border-radius: 5px;
    gap: 10px;
    border: solid;
    border-color: gray;
}



.misc{  
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

#hubItem{
    margin: auto;
    text-align: center;
    font-size: 20px;
}
#hub_list{
    text-align: center;
    color: cyan;
    list-style-type: none;
    font-size:x-large;
}

a{
    color: gray;
}
a:hover{
    color: darkgray;
}

#lastUpdatedContainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
    background-color:transparent;
}




#email{
    position: absolute;
    font-size: larger;
    color: black;
    right: 10px;
    bottom: 10px;
}