/*styles.css */

#name_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.letter{
    display: inline-block;
    margin: -10px;
    padding: 20px;
    border-radius: 100%;
    background-color: white;
    text-align: center orange;
    background: 1px solid black;
    opacity: 100%;
    color: orange;
    transition:  all 200ms, opacity 400ms;


}

