/*about.css*/
:root{
  --width: 200px;
  --color:black;
}
*{
  font-family: 'Times New Roman', Times, serif;
  background-color: #FED8B1;
}

body{
  background-color: #FED8B1;
  color: darkgoldenrod;
}
