/*about.css*/
*{
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffa500;
    background-color: unset;

}

#about_me{
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 35px;
    font-size: 60px;
}

#aboutMeList{
    color: black;
    position: inherit;
    border-color: black;
    width: 19em;
    
}

a{
    color:gray;
}
a:hover{
    color:lightgrey;
}


#bookListContainer{
    position: relative;
    color: black;
}


#bookListContainer{
    position: absolute;
    display: block;
    z-index: 0;
    left: 350px;
}

.about_me_grid{
    box-sizing: border-box;
    display: grid;
    width: 50vw;
    min-width: 400px;
    margin: auto;
    height: 40vh;
    min-height: 300px;
    grid-template-columns:  repeat(auto-fit);
    grid-template-rows:     repeat(auto-fit);
    grid-auto-flow: row;
    justify-content:    center;
    align-content: center;
    border-radius: 5px;
    gap: 10px;
    border: solid;
    border-color: gray;
    text-align: center;
}

.book_grid{
    box-sizing: border-box;
    display: grid;
    width: 40vw;
    min-width: 300px;
    margin: auto;
    height: 40vh;
    min-height: 300px;
    grid-template-columns:  repeat(auto-fit);
    grid-template-rows:     repeat(auto-fit);
    grid-auto-flow: row;
    justify-content:    center;
    align-content: center;
    border-radius: 5px;
    gap: 10px;
    border: solid;
    border-color: gray;
    text-align: center;
}


.about_me_text{
    margin: auto;
    text-align: center;
    font-size: 25px;
}